name: DAST - Nuclei Scan

on:
  workflow_dispatch:
  push:
    branches: [ main, development ]

jobs:
  nuclei_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nuclei
        run: |
          curl -s https://api.github.com/repos/projectdiscovery/nuclei/releases/latest \
          | grep "browser_download_url.*linux_amd64.zip" \
          | cut -d '"' -f 4 | wget -qi -
          unzip nuclei*linux_amd64.zip
          sudo mv nuclei /usr/local/bin/

      - name: Wake up Render app
        run: curl -s -o /dev/null https://lab5-t3vd.onrender.com

      - name: Run Nuclei scan on deployed app
        run: |
          nuclei -u https://lab5-t3vd.onrender.com \
                 -severity critical,high,medium \
                 -o nuclei-report.txt

      - name: Upload Nuclei report
        uses: actions/upload-artifact@v3
        with:
          name: nuclei-report
          path: nuclei-report.txt
